* {
  box-sizing: border-box;
}
html {
  margin: 0 auto;
}
.arrow-left {
  padding-top: 5px;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 18px;
  padding: 0px 10px 20px 20px;
}
h1 {
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}
h2 {
  font-weight: normal;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;

}

.container {
  display: flex;
  background-color: darkgray;
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: black;
  margin: 0 auto;
  padding: 20px 0 20px 20px;
  position: fixed;
  width: 420px;
}


.restaurant-list {
  width: 100%;
  margin: 60px auto 0;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1.5em;
}

.arrow {
float: right;
padding: 25px 25px 25px 25px;
margin: 1px;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
box-sizing: content-box;
}

.location {
  border-bottom: 1px solid gray;
  overflow: hidden;
}

.location:hover {
  background-color: gray;
}

.content {
  float: left;
  font-size: 13px;
  padding: 5%;
}